<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Employee Leave System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <h3 class="">
        Reset Password: Welcome employeename
        
    </h3>
    <form action="/login" method="POST">
        <!-- fieldset for account info -->
        <!-- fieldset class="account-info">
          <!-- username -->
          <label for="username">USERNAME</label>
          <input type="text" name="username" id="username" required />
          <!-- password -->
          <label for="newPassword">NEW PASSWORD</label>
          <input type="password" name="newPassword" id="password" required />
          <label for="conNewPassword">CONFIRMED NEW PASSWORD</label>
          <input type="password" name="conNewPassword" id="password" required />
          <label for="NRIC">NRIC</label>
          <input type="text" name="NRIC" id="NRIC" required />
        <!--/fieldset>
        <!-- submit button -->
        <input type="submit" value="Reset" />
        <!-- button onclick="location.href = '/findUsername'" id = "return">Forgotten username</button -->
        <button onclick="location.href = '/'" id = "return">Go back</button>
      </form>
    
    <div class="container d-flex">
       
    </div>
</body>

</html>